.main{

     // Content Main (Video block)
     .block__main{
          margin-bottom: 200px;
          video{
               position: absolute;
               width: 100%;
               height: 130vh;
               top: 0;
               right: 0;
               z-index: -1;
               object-fit: cover;
          }
          .shadowVideo{
               width: 100%;
               height: 130vh;
          }
          .shadowVideo::before{
               position: absolute;
               content: "";
               width: 100%;
               height: 130vh;
               background-color: rgba(49, 25, 25, 0.459);
               z-index: 5;
               top: 0;
               left: 0;
          }
          .content_videoImgMain{
               width: 100%;
               height: 100vh;
               display: flex;
               justify-content: space-around;
               align-items: center;
               .PegasusBlockMain{
                    position: relative;
                    z-index: 10;
                    left: 250px;
                    top: 0;
                    h1,p{
                         margin: 0px;
                         color: #fff;
                    }
                    h1{
                         font-weight: bold;
                         font-size: 80px;
                    }
                    p{
                         padding-top: 5.5px;
                         width: 500px;
                         font-size: 40px;
                         font-weight: 300;
                    }
                    button{
                         position: relative;
                         transition: 0.2s all;
                         cursor: pointer;
                         border: none;
                         border-radius: 30px;
                         font-size: 20px;
                         font-weight: 500;
                         width: 200px;
                         height: 60px;
                         margin-top: 15px;
                         line-height: 1;
                         color: #fff;
                         white-space: nowrap;
                         font-weight: 700;
                         background-color: #e40521;
     
                    }button:hover{
                         background-color: #be041d;
                    }
               }
          }
     }

     // Kinds bikes (content blocks)
     .KindsBikes__Block{
          width: 100%;
          display: flex;
          justify-content: center;
          .KindBike__box{
               cursor: pointer;
               text-align: center;
               align-items: center;
               display: flex;
               flex-direction: column;
               width: 400px;
               height: 100vh;
               .KindBikebody_box{
                    padding-top: 150px;
                    h1{
                         font-weight: 800;
                         color: #232323;
                         font-size: 34px;
                         line-height: 32px;
                         margin-bottom: 10px;
                    }
                    p{
                         margin-bottom: 100px;
                    }
                    button{
                         position: relative;
                         transition: 0.2s all;
                         cursor: pointer;
                         border: none;
                         border-radius: 30px;
                         font-size: 15px;
                         font-weight: 500;
                         width: 130px;
                         height: 50px;
                         margin-top: 15px;
                         line-height: 1;
                         color: #fff;
                         white-space: nowrap;
                         font-weight: 700;
                         background-color: #e40521;
     
                    }button:hover{
                         background-color: #be041d;
                    }
               }
               .KindBikefooter_box{
                    padding-top: 100px;
                    img{
                         width: 350px;
                         -o-object-fit: contain;
                         object-fit: contain;
                    }
               }
          }
     }
     
     // Best bikes
     .Best__ElectroBikes{
          overflow: hidden;
          display: flex;
          margin-top: 50px;
          padding: 50px 20px;
          position: relative;
          width: 100%;
          .left__contentBestBox{
               background-color: #d3d3d336;
               margin-top: 250px;
               margin-right: 150px;
               width: 33%;
               height: 100vh;
          }
          .photoleft__content{
               box-shadow:  0px 20px 50px 20px rgba(157, 174, 193, 0.689);
               background: url("https://www.pegasus-bikes.nl/media/resized/1/44fea759-179f-48cf-96d8-19c157c28b3d/768xauto_pegasus-accu.png") center / cover no-repeat;
               width: 100%;
               height: 100%;
          }
          .right__contentBestBox{
               padding-top: 50px;
               background-color: #d3d3d336;;
               width: 800px;
               height: 140vh;
               .photoright__content{
                    position: relative;
                    right: 100px;
                    background: url('https://www.pegasus-bikes.nl/media/resized/1/c1a97666-1232-45f5-8ae1-19bb9fd7d7e3/768xauto_e-bike-pegasus-met-helm.png') center / cover no-repeat;
                    width: 900px;
                    height: 80vh;
               }
               .content__bottomBestBox{
                    padding: 50px;
                    h1{
                         font-size: 45px;
                         margin: 0px;
                    }
                    p{
                         line-height: 1.7;
                         color: rgb(96, 96, 96);
                    }
                    button{
                         margin-top: 30px;
                         transition: 0.3s all;
                         font-weight: bold;
                         cursor: pointer;
                         border: 0.3px solid rgba(69, 69, 69, 0.231);
                         border-radius: 50px;
                         width: 170px;
                         height: 40px;
                         background-color: #be041d00;
                         color: rgb(0, 0, 0);
                    }button:hover{
                         background-color: #be041d;
                         color: rgb(255, 255, 255);
                    }
                    width: 700px;
                    text-align: left;
               }
          }
     }
}